.h-552 {
  height: 552px;
}

.left-45 {
  left: 45%;
}

.h-fullscreen {
  height: 712px;
}

.w-fullscreen {
  width: 847px;
}

.h-640 {
  height: 640px;
}

.Atma {
  font-family: 'Atma', cursive;
}

.Gaegu {
  font-family: 'Gaegu', cursive;
}

.max-h-225 {
  max-height: 225px;
}

.min-w-775 {
  min-width: 775px;
}